<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>For form</title>
    <script src="formed.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="formed.css">
</head>
<body>
<div id="app">
<input :class="dinamicClassName" v-model="name">
<input :class="dinamicClassPhone" v-model="phone">
<input :class="dinamicClassEmail" v-model="email">
<input :class="dinamicClassText" v-model="text">
<button @click="validateAndSend" id="but1">{{ send }}</button>
</div>
</body>
</html>